.usersListContainer{
  color: #fff;
}

/* UsersList.css */

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.users-table th,
.users-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #f2f2f2;
  color: #333;
}
.users-table td{
  border: 1px solid rgb(204, 204, 18);
}

.users-table th {
  background-color: #333;
  font-weight: bold;
  color: #f7f7f7;
  border: 2px solid rgb(204, 204, 18);
}

.users-table tr:hover {
  background-color: #f2f2f2;
  transition: background-color 0.3s ease-in-out;
}

.actionLink{
  /* width: 20%; */
  display: flex;
  justify-content: space-around;
}

.actionLink > .actionBtn {
  width: 40%;
  background-color: rgb(204, 204, 18);
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.actionLink > .actionBtn:hover{
  background-color: blue;
  color: rgb(204, 204, 18);
}

