/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    background: none;
  }
  
  .QContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 30px; */
    height: 100vh;
    overflow-y: scroll;
  }
  
  .QBox {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 12px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 80vw;
    /* max-width: 600px; */
  }
  
  h1 {
    color: rgb(204, 204, 18);
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .ques {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .ques > .quesHeading {
    width: 100%;
    margin: 0 0 5px 2px;
  }
  
  .quesInput,
  .ansInput,
  .options input[type='text'] {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
  }

  .options input[type='text']{
    width: 15vw;
  }

  /* .quesInput,
  .ansInput{
    width: 23vw;
  } */
  
  /* .ansInput {
    max-width: 40%;
  } */
  
  .options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .options input[type='text'] {
    flex: 1;
    margin: 0 5px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .options input[type='text']:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
  
  input[type='submit'] {
    width: 100%;
    background-color: rgb(204, 204, 18);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 14px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  input[type='submit']:hover {
    background-color: rgb(126, 9, 235);
  }

  .uniqueId{
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .QBox {
      width: 90%;
    }
  }
  