/* .container{
    height: 90vh;
} */


.flex-center{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    border: 1px solid #cecece;
    padding: 3em 4em;
    gap: 1em;
    width: 50vw;
}

.container .flex{
    display: flex;
    justify-content: space-between;
    
}

.container .flex span {
    font-size: 1.4em;
    color: #cecece;
}

.container .flex span.achive {
    font-weight: bold;
    color: #ff2a66;
    color: #2aff95;
}

table {
    width: 100%;
}

.table-header {
    color: #cecece;
    font-size: 1.1em;
    text-align: center;
    background: #212121;
    padding: 18px 0;
}

.table-body {
    font-size: 1.1em;
    text-align: center;
    /* color: #cecece; */
    background: #d8d8d8;
    padding: 18px 0;
}

.table-header > tr > td{
    border: 1px solid #faff5a;   
}


.restartbtn {
    padding: .2em 1.7em;
    border: none;
    border-radius: .1em;
    font-size: 1.2em;
    background-color: rgb(204, 204, 18);
    cursor: pointer;
    position: absolute;
    bottom: 3vmax;
    left: 3vmax;
    transition: 0.3s ease-in-out;
}

.restartbtn:hover{
    background-color: #212121;
    color: #fff;
}
