.authBox{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.logSignForm{
    display: flex;
    flex-direction: column;
    width: 25vmax;
    background-color: rgba(170, 56, 136, 0.445);
    align-items: center;
    align-content: center;
    padding: 20px;
    border-radius: 2px;
}

.logSignForm > h1{
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 1.2vmax;
    border: 3px solid rgb(204, 204, 18);
    border-radius: 0.5vmax;
    padding: 6px 10px;
    width: 70%;
    text-align: center;
    margin-bottom: 1.5vmax;
    text-transform: uppercase;
    /* background-color: rgb(228, 15, 26); */
    /* background-color: blue; */
}

.inputBox{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0.4vmax 0;
}
.inputBox > label{
    /* font: 400 2vmax gray; */
    font-size: 1.2vmax;
    font-weight: 400;
    color: rgb(238, 230, 230);
    margin-bottom: 5px;
}
.inputBox > input[type=text], .inputBox > input[type=email], .inputBox > input[type=password], .inputBox > input[type=number]{
    padding: 8px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 2px;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
}

.submitBtn{
    /* width: 90%; */
    text-align: center;
    font-weight: 500;
    border: none;
    color: white;
    background-color: blue;
    border-radius: 5px;
    margin: 1.5vmax 0 0 0;
    padding: 0.3vmax 2vmax;
    transition: 0.5s ease-in-out;
}

.submitBtn:hover{
    background-color: rgb(228, 15, 26);
    cursor: pointer;
}

.loginBtn{
    /* width: 90%; */
    text-align: center;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 18);;
    cursor: pointer;
    border-radius: 2px;
    text-decoration: none;
    margin: 0;
    padding: 6px 15px;
    transition: 0.5s ease-in-out;
    font-weight: 700;
}
.loginBtn:hover{
    background-color: blue;
    cursor: pointer;
}

.registerImage{
    width: 100%;
    display: flex;
    margin: 1.5vmax 0 0 0;
    width: 90%;
} 

.registerImage > img{
    width: 3vmax;
    height: 3vmax;
    border-radius: 100%;
    margin: 0 0.3vmax 0 0;
}

.registerImage > input {
    display: flex;
    padding: 0;
    margin: 0.2vmax 0 0 0;
}
.registerImage > input::file-selector-button{
    cursor: pointer;
    width: 100%;
    height: 5vh;
    margin: 0%;
    border: 0.5px solid rgb(119, 106, 106);
    border-radius: 5px;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    color: rgba(0, 0, 0, 0.625);
    background-color: rgb(255, 255, 255);
}

.registerImage > input::file-selector-button:hover{
    background-color: rgba(135, 158, 187, 0.521);
}

.orInfo{
    color: #fff;
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    
    .registerImage > img{
        width: 5vmax;
        height: 5vmax;
        margin: 0;
    }

    .registerImage > input::file-selector-button{
        font: 600 1.5vmax cursive;
    }
}

