/* UpdateUser.css */
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #f5f5f5; */
  }
  
  .newProductContainer {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
  }
  
  .createProductForm h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .createProductForm div {
    margin-bottom: 20px;
  }
  
  .createProductForm input,
  .createProductForm select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .createProductForm select {
    cursor: pointer;
  }
  
  #createProductBtn {
    background-color: rgb(204, 204, 18);
    color: #330be7;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 28%;
  }

  #createProductBtn:hover{
    background-color: #330be7;
    color: rgb(204, 204, 18);
  }
  
  #createProductBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  